<!DOCTYPE html>
<html>
<head>
    <title>Ponuda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body >
<div class="container">

    <div class="col-lg-8 col-sm-12">
        <table class="table tabela">

            <thead>
            <tr>
                <th scope="col">Ime</th>
                <th scope="col">Prezime</th>
                <th scope="col">Adresa</th>
                <th scope="col">Jelo</th>
                <th scope="col">Količina</th>
                <th scope="col">Račun</th>
                <th scope="col">Dostavljač</th>
                <th scope="col"></th>
            </tr>
            </thead>

            <tbody>

            <%for(let i=0;i<dostava.length;i++){%>
            <tr>

                <td><%=dostava[i].ime%></td>
                <td><%=dostava[i].prezime%></td>
                <td><%=dostava[i].adresa%></td>
                <td><%=dostava[i].jelo%></td>
                <td><%=dostava[i].kolicina%></td>
                <td><%=dostava[i].ukupna_cijena%>KM</td>
                <td>
                <form method="post" action="/users/odobreno">
                    <select name="dostavljac" class="form-control">
                        <%for(let i=0;i<dostavljac.length;i++){%>
                        <option value="<%=dostavljac[i].id_dostavljaca%>"><%=dostavljac[i].concat%></option>
                        <%}%>
                    </select>


                    <input type="hidden" name="id_restorana" value="<%=dostava[i].id_restorana%>">
                    <input type="hidden" name="id" value="<%=dostava[i].id%>">
                    <td><button type="submit" class="btn btn-success" >Odobri</button>

                </form>
                </td>

            </tr>
            <%}%>
            </tbody>
        </table>



    </div>
</div>

<script>

    function odobri(id,id_restorana){
        window.location.href="/users/odobreno/"+id+"/"+id_restorana;
    }
</script>

</body>
</html>